[2016-10-11 21:05] robertraaijmakers opened #2 "Inclusion of PST02-A not working"
Tried to include the PST02-A. The device gets included in Homey but none of the events are handled. Only seems to have the temperature.

I have created a branch #1 where I tried (tried, did not succeed 👎 ) to fix the device.. played with some settings and changed some parameters. The branch has some tooltip fixes, extra parameter support etc.

The PST02-A seems to become a 'brick' after adding it

[2016-10-12 07:29] Inversion-NL commented on #2
I don't have that specific device so I'm unable to help you there, sorry.

[2016-11-27 21:56] Inversion-NL opened #8 "SyntaxError: Use of const in strict mode."
A crash occurred for your app (version 0.0.8) at Nov 27, 2016 9:44 PM (UTC).

Tekst uit oorspronkelijk bericht niet weergeven
Homey software version: 0.8.17

Crash report:
    /drivers/PSM02/driver.js:2
        const path = require('path');
        ^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.M

[2016-11-28 10:02] #2 closed

[2016-11-28 10:02] #8 closed

[2016-11-29 21:45] Inversion-NL opened #9 "TypeError: Cannot read property '252' of undefined"
A crash occurred for your app (version 0.0.9) at Nov 29, 2016 4:07 PM (UTC).

Homey software version: 1.0.2

Crash report:
    TypeError: Cannot read property '252' of undefined
    at Object.module.exports.ZwaveDriver.capabilities.settings.251.parser (/drivers/PSR04/driver.js:51:18)
    at /node_modules/homey-zwavedriver/lib/ZwaveDriver.js:219:29
    at Array.forEach (native)
    at ZwaveDriver.s

[2017-01-18 17:48] kennybeu opened #13 "Philio PST02-1C sensor door/temp/light to homey athom"
What is your Homey version (Settings → System)?

1.1.2

Hey i should love to lets the pst02-1c sensors works on the homey.
https://github.com/athombv/homey/issues/1281

![pst02-1c](https://cloud.githubusercontent.com/assets/25205719/22075997/864e31e4-ddae-11e6-863c-efd87dc1f816.jpg)

[2017-01-21 09:00] Inversion-NL commented on #13
Added via https://github.com/Inversion-NL/com.philio/pull/11

[2017-01-21 09:00] #13 closed

[2017-02-17 19:02] Inversion-NL commented on #9
Didn't happen anymore

[2017-02-17 19:02] #9 closed

[2017-02-17 19:03] Inversion-NL opened #16 "TypeError: Cannot read property 'toString' of undefined"
A crash occurred for your app (version 0.2.2) at Feb 17, 2017 5:49 PM (UTC).

Homey software version: 1.1.9

Crash report:
    TypeError: Cannot read property 'toString' of undefined
    at Object.module.exports.ZwaveDriver.capabilities.my_gateway_control.command_report_parser (/drivers/tagreader500/driver.js:182:58)
    at CommandClass.<anonymous> (/node_modules/homey-zwavedriver/lib/ZwaveDriver.

[2017-05-20 13:20] caseda commented on #16
this issue is actually not of this app, but of your BeNext app :p (and also already fixed)
just letting you know. 😄

[2017-05-20 13:32] Inversion-NL commented on #16
Haha, stupid.

[2017-05-20 13:32] #16 closed

[2017-05-20 17:34] djanssen1 opened #19 "PST sensor - please add parameter to disable window/door"
Hi there,

I'm using the sensor without window/door sensor. It is possible to disable this with a config in parameter 5. Unfortunately this option is not available in drop down. For most users drop down is best so can you add this feature or make it possible to enter the value same as with PSM type sensors

[2017-05-20 19:53] Inversion-NL commented on #19
Could you create a pull request for this, please?

[2017-05-20 20:30] djanssen1 commented on #19
Created pull request

[2017-05-20 20:36] Inversion-NL commented on #19
https://github.com/Inversion-NL/com.philio/pulls
It's not there or am I missing something?

[2017-05-21 08:01] djanssen1 commented on #19
I'm not a developer so that's why I added it here as a change/feature request

[2017-05-24 19:19] djanssen1 opened #21 "Add support for PAT02-1B"
Hi there,

Can you add support for PAT02-1B sensor. It is a sensor for temperature and humidity and look like the multisensor series

https://www.robbshop.nl/2-in-1-temperatuur-en-luchtvochtigheids-sensor-z-wave-plus-philiotech?sqr=philio%20temperat&

[2017-05-27 12:37] MbenzNo commented on #21
I would also like to have support for the PAT02-B sensor. If I try to include it as a generic Z-Wave device it is identified as a slave, exchanges security keys , command classes and so on, but in the end it stops at retrive wake up interval, and ends with the message : No Z-Wave device has been found. There does not appear an unknown device icon, but if I try to include it again it fails due to t

[2017-06-06 11:04] #19 closed

[2017-07-14 16:58] cscottmcqueen commented on #21
Also would like support added for this device.

[2017-07-14 18:47] TedTolboom commented on #21
See Pull Request #24

[2017-07-17 15:56] cscottmcqueen commented on #21
Just to confirm PAT02-1B tested and working great in v0.0.20

Many thanks

[2017-07-18 20:23] djanssen1 commented on #21
I already tested and worked with Ted, Ted thanks! I'm closing this one..

[2017-07-18 20:23] #21 closed

[2017-09-16 13:40] cbho opened #25 "PAN08-support?"
Asked at the app store, but not sure if it's read:
What are the perspectives on adding support for the PAN08-roller shutter?
Regards,
Chr.

[2017-09-16 16:51] Inversion-NL commented on #25
Since I don't have the device I'm not implementing it, sorry.
GitHub pull requests are more than welcome though!

[2017-10-08 09:27] FrankRinkens opened #26 "PST02-A Direct Association Group 2 not working"
Have tested the PST02-A on my raspberry pi zwave and direct association group 2 turn on/of lights on fibaro dimmer 2 is working fine.

In Homey with this driver and same settings direct association group 2 is not working. any plans to support direct association?

[2017-10-17 12:01] stefanwitkamp opened #27 "Include PAN 16-1"
Hi, would it be possible to include PAN16-1 based on the information from the Z-Wave Alliance and the implementation of PAN11 (which has the same functionality)? Information (including product ID):
https://products.z-wavealliance.org/products/2001

[2017-10-17 12:53] Inversion-NL commented on #27
Yes but I really don't have time to troubleshoot the issue if it isn't working in one go, sorry.

[2017-10-17 13:49] stefanwitkamp commented on #27
I see. Maybe we can try and sideload the new version to verify if it works with a know partner that has Homey + the plug?

Settings:

![pan16](https://user-images.githubusercontent.com/4272462/31668547-ccfe6922-b352-11e7-9c98-b099aa736da9.png)

[2017-10-17 17:04] stefanwitkamp commented on #27
Ps, I understand this is a 'try in one go'. Let's see where we get.

[2017-10-19 09:30] LochNESS84 opened #28 "Adding support for Philio clones (or is it the other way around?)"
Yesterday I downloaded the source for Philio to 'hack' support for the D-Link door sensor into the Philio app. As the Philio 3-in-1 and D-Link 3-in-1 are identical devices, I have to be honest it was nothing more than replacing the manufactorerID in the app.json.

However, as D-link and Philio (and probably the Zipatto 3-in-1) all are identical at first sight. I would suggest adding these 'clones'

[2017-10-19 20:08] zshh opened #29 "Offset for temp/humidity?"
Any plans to add offset for temperature and humidity for PAT02-1B?
This sensors are not very accurate out of the box so offset possibility (+/-) for the temp/humidity values would be really handy.

[2017-10-20 05:14] Inversion-NL commented on #28
I thought I read somewhere that it is not how it's supposed to work.
Every manufacturer should have its own app otherwise it could be confusing for users.

[2017-10-20 05:16] Inversion-NL commented on #29
No, I'm using a driver from Athom and there isn't any functionalities like this in the driver.

[2017-10-20 10:16] LochNESS84 commented on #28
Seems like a valid point. It's just a shame as it takes more resources on Homey than would be necessary.

Running two 'identical' apps because you have product-clone A AND product-clone B is a bit too much. However, based on what I read on z-wave alliance. Zipato and Philio do share their manufacturerId. So that is already one overlap solved.

[2017-10-20 14:48] zshh commented on #29
Hi,

Thank you for your reply. So only way to do this I guess is to ask Athom team for the possibility which I will do as soon as I figure out which section of their GitHub I should post it under.

Cheers

[2017-10-26 09:06] jolny commented on #27
@Inversion-NL I've made a pull request for the PAN16-1, can you accept it and we'll see it it works? Thanks!
I was unable to test it this week unfortunately.

[2017-10-26 09:44] Inversion-NL commented on #27
I'm also unable to test since I don't have the device.
I'll await your test before merging your PR then.

[2017-10-26 11:32] jolny commented on #27
Hi again!
I've made another commit now, we've tested the plug and it works now :)
It needs a new icon (using PAN11 svg files at the moment), but other than
that everything seems OK.
So please accept the PR :D

2017-10-26 11:44 GMT+02:00 Inversion-NL <notifications@github.com>:

[2017-10-26 13:42] Inversion-NL commented on #27
Great, thanks

[2017-10-26 15:24] #27 closed

[2017-10-31 22:52] jolny commented on #29
Hi,
I thought this was an interesting feature so I talked to Athom about it They said the driver would not provide it as some devices has it built-in, but they gave me some pointers as to how it can be done on a per-device basis. Might give it a shot, I'll keep you updated.

[2017-11-01 03:29] Inversion-NL commented on #29
That would be great!

[2017-11-07 10:58] Inversion-NL opened #32 "missing_settings_key: rfOffCommand"
Error: missing_settings_key: rfOffCommand
    at changedKeysArr.forEach (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:228:51)
    at Array.forEach (<anonymous>)
    at ZwaveDriver.settings (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:213:18)
    at /manager/drivers.js:1:3981
    at ZwaveDriver.fs.existsSync.drivers.(anonymous function).ready (/manager/drivers.js:1:2404)
    at clientD

[2017-11-07 10:58] Inversion-NL opened #33 "missing_settings_key: existenceEndpoint3"
Error: missing_settings_key: existenceEndpoint3
    at changedKeysArr.forEach (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:228:51)
    at Array.forEach (<anonymous>)
    at ZwaveDriver.settings (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:213:18)
    at /manager/drivers.js:1:3981
    at ZwaveDriver.fs.existsSync.drivers.(anonymous function).ready (/manager/drivers.js:1:2404)
    at c

[2017-11-07 10:59] Inversion-NL commented on #33
@jolny Do you know if you used a setting called existenceEndpoint3 in your driver?

[2017-11-07 10:59] Inversion-NL commented on #32
@jolny Do you know if you used a setting called rfOffCommand in your driver?

[2017-11-07 20:05] jolny commented on #32
Hi!
Probably this:

"RF_off_command": {
            "index": 9,
            "size": 1
        }

This parameter setting is available for PAN16.
Do you know what causes this error? Is the parameter missing from some other device or could it be because of something else?

[2017-11-07 20:06] Inversion-NL commented on #32
Might be the device was already added without this parameter?

[2017-11-07 20:21] jolny commented on #32
Checked the manual, this is what I could find:
PAN06-1x and PAN04-1x have these parameters , however PAN06-1 only shows two parameters in the manual and PAN04-1 shows 6.
However, these parameters were already added before so assume they were added by mistake. Are you attempting to add a PAN04-1 or PAN06-1, by any chance?

[2017-11-08 05:41] Inversion-NL commented on #32
No, haven't changed the code at all

[2017-11-08 07:16] jolny commented on #32
No I mean, were you trying to add a physical module (PAN04 or PAN06) to your Homey, or does this debug information pop up anyway? Maybe you have one of these modules already?

[2017-11-08 07:38] Inversion-NL commented on #32
I receive all crash reports from users.
This was a crash at a user, I don't own any of the pan series.

[2017-11-08 13:01] jolny commented on #32
I see!
If the app crashes completely, we should break up PAN04-1 and PAN06-1 into separate devices (with less parameter settings) and leave the modules I added with the current settings as they are the PAN04-1x/PAN06-1x ones. Unless there is some way to specify "optional" parameters?
But it's weird, these crashes should have happened before, too.

[2017-11-08 21:57] Inversion-NL commented on #32
Since the crash only happened once, I'd suggest we call it an incident and be done with it.
I haven't received any more crashes other than this one...

[2017-11-08 22:10] jolny commented on #32
It's possible someone tried to set one of the parameters on one of the devices that does not have them, so I agree. :)
Those devices are so old, I doubt there are that many still being used. If it pops up again, we can just split the devices.

[2017-11-11 19:20] Inversion-NL commented on #33
A crash occurred for your app (version 0.0.22) at Nov 11, 2017 11:10 AM (UTC).

Homey software version: 1.5.3

Crash report:
    Error: missing_settings_key: existenceEndpoint3
    at changedKeysArr.forEach (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:228:51)
    at Array.forEach (<anonymous>)
    at ZwaveDriver.settings (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:213:18)
    at /ma

[2017-11-11 19:20] Inversion-NL commented on #33
Dear Robin,

A crash occurred for your app (version 0.0.22) at Nov 11, 2017 11:15 AM (UTC).

Homey software version: 1.5.3

Crash report:
    Error: missing_settings_key: existenceEndpoint3
    at changedKeysArr.forEach (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:228:51)
    at Array.forEach (<anonymous>)
    at ZwaveDriver.settings (/node_modules/homey-zwavedriver/lib/ZwaveDriver.js:213:1

[2017-11-12 10:06] jolny commented on #33
OK, I'm guessing the only way to fix this permanently is to separate the PAN0x devices. Will have a look at it today, hopefully.

[2017-11-12 10:12] Inversion-NL commented on #33
I was thinking about this.
How can there be a key missing from a setting.
We shouldn't be able to save it without a key in the first place. What do you think about this?

I think we should first ask someone from Athom to have a look at it.

[2017-11-12 10:34] jolny commented on #33
Aah, are you @roadxy ? That makes sense.
Yes, agreed. Maybe they can help :)

[2017-11-12 11:06] Inversion-NL commented on #33
Yes I am ;-)

[2017-11-23 16:30] Drops70 commented on #25
I am also interested in the support for the PAN08 roller shutter as I hava already seven of These installed in my home.
If a device is needed I can send you one for implementation.

[2017-11-23 16:31] Drops70 commented on #25
Or you might only need the three IDs ?
Man-ID: 316
Product Type ID: 1
Product ID: 6

[2017-11-23 18:33] Inversion-NL commented on #25
Please create an pull request. I'll be more than happy to merge it.
I don't have much time, sorry

[2017-11-23 19:35] MarcelS1988 opened #34 "Outdoor Motion Sensor PSP05 do not detect constant"
Hello,
My sensor doesn't detect the motion correct. When I move in front of the sensor is detect me but alfter 8 sec he stops and it will wait 8 sec before detect again.
See below my setting for what I can do better?
![image](https://user-images.githubusercontent.com/30636298/33186904-cff9e298-d08d-11e7-9938-4129b13cab47.png)

[2017-11-23 20:16] Inversion-NL commented on #34
I'm sorry but I don't know.
I only created the driver.

[2017-11-23 21:17] ArchiSpec commented on #34
Same query here. Having delved deeper into the sensor manuals, have tried manually changing configuration setting 09 to longer than 08 (as it states in the table on page 6 of the manual), but this still doesn't seem to work.

Could you please add a parameter setting for config 9 (turn off light time) in the same way as you have provided a setting for config 8 (PIR re-detect interval time). To my m

[2017-11-24 08:28] Drops70 commented on #25
Thanks for Feedback. Opened a pull request. Hope I did it right as I am totaly new to this ....

[2017-11-24 10:47] Inversion-NL commented on #25
Great work.
However there are no changes in your commit

[2017-11-24 12:20] Drops70 commented on #25
This was the only way to open a pull request. Honestly I am a totaly Newbie to github and programming.
I will look deeper into it, but I need help to get the PAN08 device integrated.
Whaterever I can do to get this done I will take care of.

[2017-11-24 12:25] Drops70 commented on #25
Question:
If I copy the content of a supported device and adjust it like I think it will be OK, would you be able to check wether it is working or needs adjustments. If so, I will spend some time on the weekend to do so.

[2017-11-29 06:18] Inversion-NL commented on #25
You should be able to get away with changing the IDs and the capabilities.

[2017-11-29 09:53] Drops70 commented on #25
Thanks. Just about to learn Java (will take time) and to get used to the development tools from Athom.
Think I will have a first try this weekend.

[2017-12-03 10:30] ArchiSpec commented on #34
@MarcelS1988 Did you try the manual configuration? I still can't get it to work.
@Inversion-NL Any luck with the request? These motion detectors appear useless without that configuration ability.
Thanks in advance.

[2017-12-03 12:03] Drops70 commented on #25
One additional question. Which files are required? Drivers, app.js, app.json, ..?

[2017-12-04 11:35] MarcelS1988 commented on #34
@ArchiSpec At the moment I didn't try anything more.
Wich configuration do you mean?
I think you are right and we need the parameter 9.

[2017-12-04 12:55] fredrikhanssonsk opened #36 "Tamper Alarm - PST02-C"
Tamper Alarm is always active and i havent found a way to null it.
Both tamper switches are pressed down.

[2017-12-05 18:36] Inversion-NL commented on #34
I currently don't have time to look at it, sorry

[2017-12-06 12:32] MarcelS1988 commented on #34
@Inversion-NL Do you know somebody else can help us with this issue? Or when do you think somebody will look at this issue?

[2018-01-03 09:33] CyberSponk opened #37 "No Battery-Level-Report PST02-A"
No Battery-Level-Report PST02-A > See here because didn't know if this is an Issue of Homey itself or this App: https://github.com/athombv/homey/issues/2131

[2018-01-04 10:20] Drops70 commented on #25
Hi, as it is merged now, how is the further process of testing? Will there be a new "beta" release so I can test the function of the PAN08?.
Sorry to ask, but I am still new to this......

[2018-01-04 11:00] Inversion-NL commented on #25
There weren't any changes in the commit so nothing has changed.

[2018-01-04 14:10] Drops70 commented on #25
Sorry, but I dont understand.
Though this is what you needed ....

![pan08](https://user-images.githubusercontent.com/33936869/34567155-04c9f27e-f159-11e7-83d9-1bf6a317344f.JPG)

[2018-01-08 08:22] Drops70 commented on #25
Hi,
sorry don't want to bother you, but can you please reply as I have no clue how to proceed at the moment.
I realy need to get this device supported as I have to run my old controller only to get my blinds moving.

Many thanks!
Oliver

[2018-01-08 18:27] Inversion-NL commented on #25
The only change in this commit is one empty line.

![screenshot_20180108-192622](https://user-images.githubusercontent.com/15921016/34685831-ebbd0f9c-f4a9-11e7-84ad-2f96f064e145.png)

[2018-01-09 08:21] Drops70 commented on #25
Thanks for your Feedback.
You are looking at my first "commit" I had no clue what to do.
Please have a look one line after with the "Update PAN08" file.....
This Looks like this (and more):

![commit_pan08](https://user-images.githubusercontent.com/33936869/34711119-03cc0446-f516-11e7-9930-c6039257e00e.JPG)

[2018-01-09 18:31] Inversion-NL commented on #25
I'm sorry, I did not know.
Weird that GitHub doesn't show this at the pull request.

[2018-01-09 18:34] Inversion-NL commented on #25
Could you please up the version number in app.json and update the readme?
You can add yourself as a developer, if you'd like?

[2018-01-09 19:41] Drops70 commented on #25
Sure, will do my best, but can take some time unti weekend.
Me a developer? Funny thing, but I might add myself as I did at least some work ... :-)

[2018-01-10 19:52] Drops70 commented on #25
Did the job - at least hope so ...

[2018-01-11 05:54] Inversion-NL commented on #25
Yes, great work.
Did you run and test with this code?

[2018-01-11 07:42] Drops70 commented on #25
Good morning. No I didn't do any test with the code. I would have done so knowing how to do it.
I know there is a way to do it with Homey , but I didn't look into this so far.

[2018-01-11 18:43] MarcelS1988 commented on #34
@caseda can you maybe help with this issue? It is still open.... Last time you was helping me great and I see you here also active. :)

[2018-01-11 19:27] caseda commented on #34
i think we people are miss interpreting this device from the start.
(sorry @Inversion-NL as it was my implementation anyway, did not know about this issue)

this is how the device works:
motion activates,
then the sensor falls asleep for 8 seconds (parameter 8) and will **not detect any motion** until this timeout is over, after the 8 seconds it will also turn off the motion alarm.
this is how phi

[2018-01-11 19:41] caseda commented on #28
old(er) issue, but here is my input on this:
there are a lot of manufacturers that lookalike, for example:

if you look at the philio door/window sensor, there are *8* manufacturers with the same shell, even when glanzing over the manual,
but their inserts are only for 2 the same (not the philio one though), the rest is slightly different, either hardware wise, or settings/parameter wise, though m

[2018-01-11 23:02] caseda commented on #34
was thinking a bit more about this one, and actually there is an easy way to build it into the app instead of being reliant on the countdown app, and thus added an extra cancellation setting for it (was like 15 minutes work as the principle for the tamper alarm is the same).

though i can't test this code if it fully functions until tomorrow evening (friday), maybe even later.
If someone can test

[2018-01-12 00:35] ArchiSpec commented on #34
@caseda Thanks for your insight! Where were you when we needed you? Ha ha!

Must admit never realised that Parameter 9 was only for Group 2 (my bad!) as that is only stated in a separate section of the manual! And consequently didn't realise that there was already a device parameter in the app! No wonder it wasn't doing anything when I manually set it in the Raw Config section!

Your solution with

[2018-01-12 05:12] caseda commented on #34
Expert parameters overwrite what is in the normal settings, so that wouldn't matter, that parameter just wouldn't do anything in homey itself 😛.
Not automatically, will need to push the update to the owner, and he can then submit it to the app store

[2018-01-12 18:49] caseda commented on #34
just tested it myself, and works like a charm, so be prepared for an incoming update to this driver 😄

[2018-01-12 19:34] Inversion-NL commented on #25
Could you please test it?
It's in the developer documents on the Athom website

[2018-01-12 20:37] ArchiSpec commented on #34
Great news. Thanks for sorting. Look forward to the update.

[2018-01-12 22:20] #34 closed

[2018-01-16 14:23] Drops70 commented on #25
Yes I will test it.
One question. Do I have to test my single code or is there already a "beat" version containing the PAN08 code. If so, which file do I have to download?

[2018-01-17 08:21] Drops70 commented on #25
Hi,
I get closer. I've copied the driver from Github and installed it yesterday. Today I will try to include the PAN08 Controller.
As all other controllers have an own folder, could you please also open a folder for the PAN08 driver and maybe also copy the asset-folder from the PAN-06 into it (to use the same Image files).

[2018-01-17 20:15] Drops70 commented on #25
Tested - not working :-(.
Will try to find the mistake ....

[2018-02-11 14:48] CyberSponk commented on #37
Not resolved in Homey 1.5.6-RC11.

[2018-02-11 14:49] CyberSponk commented on #36
Not resolved in Homey 1.5.6-RC11.

[2018-02-12 20:37] Drops70 commented on #25
Hi, I have tested the driver by creating an own little app for Homey.
It is just a basic driver not supporting the whole features of the PAN08, but it works now since a few weeks :-). I will create a new pull request.

[2018-02-13 18:39] CyberSponk commented on #37
Not resolved in Homey 1.5.6-RC11.

[2018-02-13 18:43] CyberSponk commented on #37
Not resolved in Homey 1.5.6-RC13.

[2018-02-14 15:49] CyberSponk commented on #36
Not resolved in Homey 1.5.6-RC13.

[2018-02-16 21:07] Inversion-NL commented on #36
Most likely an problem in Homey https://github.com/athombv/homey/issues/2243 and https://github.com/athombv/homey/issues/1785

[2018-03-06 07:04] basd82 opened #42 "missing pulldown for operation mode for Slim Multi-Sensor PSM02 4:1"
Can you please add the pull down for the operation mode for the Slim Multi-Sensor PSM02 4:1.
I can't get heads or teals with the bits

[2018-03-09 05:47] CyberSponk commented on #37
Not resolved in Homey 1.5.8-EXP from 08.03.18.

[2018-03-09 05:48] CyberSponk commented on #36
Not resolved in Homey 1.5.8-EXP from 08.03.18.

[2018-03-09 09:38] Inversion-NL commented on #36
Because it still isn't resolved in Homey: https://github.com/athombv/homey/issues/2267

[2018-03-09 09:39] Inversion-NL commented on #37
I don't have this device so I won't be able to troubleshoot this.

[2018-03-09 09:46] Inversion-NL commented on #42
What do you mean by "pull down for the operation mode" ?
And since I don't have the device it's very hard for me to troubleshoot this device.

[2018-03-09 10:17] CyberSponk commented on #36
Reported it Today in the linked Issue: **Not** fixed in 1.5.8-exp. Updated ~10 hours ago. WakeUp-Time of Devices 6 hours. Tamper-Alarm is On.

[2018-03-20 15:29] SadhuRus opened #43 "Can't install from Athom Cli"
When i install app by "athom app install" i have errors:

✘ Homey App did not validate against level `debug`:
[
    {
        "keyword": "enum",
        "dataPath": ".drivers[2].settings[0].type",
        "schemaPath": "#/items/oneOf/0/properties/type/enum",
        "params": {
            "allowedValues": [
                "text",
                "password",
                "textarea",

[2018-03-20 18:32] Inversion-NL commented on #43
The new CLI has problems with SDKv1 apps.
You'd could report it to Athom.

[2018-04-03 20:15] pelleskrutt opened #44 "PAN11-1D Receiving "Invalid command class" after including to Homey"
PAN11-1D Receiving "Invalid command class" after including to Homey 1.5.8 / com Philio 0.0.22.
Any ideas?
[logphilio.txt](https://github.com/Inversion-NL/com.philio/files/1873186/logphilio.txt)

[2018-05-14 17:47] CyberSponk commented on #37
Not resolved in Homey 1.5.11-EXP.

[2018-05-14 17:48] CyberSponk commented on #36
Not resolved in Homey 1.5.11-EXP.

[2018-06-18 08:16] CyberSponk commented on #36
Changed all Philio to Fibaro > Could not assist here in future.

[2018-06-18 08:17] CyberSponk commented on #37
Changed all Philio to Fibaro > Could not assist here in future. Closed this Ticket.

[2018-06-18 08:17] #37 closed

[2018-06-28 17:59] cscottmcqueen opened #45 "Pan11-3 support as well as Pan11-1"
Hi,  Would it be possible to include support for all three of the variants as I just bought 2 pan11-3E’s hoping they would be the same?

I believe it is just the interface type and ID that is different:

PAN11-1 ZC08-13020005
PAN11-2 ZC08-13020006
PAN11-3 ZC08-13020007

I am not sure about PAN11-2 (I believe it is Product Type ID 1 and the Product ID of 11  ) but the PAN11-3 has the Product Type I

[2018-11-15 19:12] taiks1 commented on #44
Same problem with PAN11-1E. after including created device  invalid_commandClass_COMMAND_CLASS_METER. Homey Firmware Version: 1.5.12 / com Philio v0.0.22 - 03.11.17

[2018-12-19 19:50] ff20000 opened #46 "Homey 2.0 can't insta"
I want to install this app. But it won't let me.
I already reinstalled homey but this did not worked.

[2018-12-19 20:12] ff20000 commented on #46
this is what it give back.

[ { "keyword": "type", "dataPath":
". ow.triggers[0].tokens[0].example", "schemaPath":
"#/de nitions/i18nObject/oneOf/0/type", "params": { "type":
"string" }, "message": "should be string" }, { "keyword": "type",
"dataPath": ". ow.triggers[0].tokens[0].example['en']",
"schemaPath":
"#/de nitions/i18nObject/oneOf/1/patternProperties/%5E.*%24/type",
"params": { "type": "s

[2018-12-22 16:42] MackanS opened #47 "PAN07-support?"
I've got a PAN07. Please let me know if you have time to add this one. I'm willing to help. I've got a Telldus Tellstick ZNet Lite V2 where tje PAN07 is recognized. Maybe that can help you get the information about the unit you need to add it?

[2018-12-28 12:32] caseda commented on #43
this issue should have been fixed in an homey update as it was missing an option in the list (number).

at least can't reproduce it anymore, could you try again when the PR is in?

[2018-12-28 12:35] caseda commented on #44
is still an issue for you guys?

if so can you give me the id numbers displayed in the device's settings (node information) when you include it when the app is disabled, so it is included as a "generic z-wave device".

[2018-12-28 12:36] caseda commented on #46
now writing an PR for this app fixing this issue, please stand by 😄

[2018-12-28 12:37] caseda commented on #47
can you specify the id's when it is added as generic z-wave device in homey? you can find them under the device's settings, under node information

[2018-12-28 13:06] MackanS commented on #47
Node ID 5
Manufacturer ID 316
Product Type ID 1
Product ID 5

[2018-12-28 13:09] Inversion-NL commented on #32
Agreed

[2018-12-28 13:09] #32 closed

[2018-12-28 18:11] caseda commented on #45
nice try, id 11 for `-2` = hexadecimal value, not the used decimal value, but wil add the id's in the SDKv2 rewrite

[2018-12-29 20:16] taiks1 commented on #44
Hi,

Yes still issue after installing it shows "Smart Energy Plug-In Switch
PAN11-1",
but when I try something, then gives error
invalid_commandClass_COMMAND_CLASS_METER
Noe information
Node ID 20
Secure Yes
Manufacturer ID 316
Product type ID 1
Product ID 17
Firmaware version 273
Device Class (Basic) BASIC_TYPE_ROUTING_SLAVE
Device Class (Generic) GENERIC_TYPE_SWITCH_BINARY
Device Class (Specific

[2018-12-29 22:04] taiks1 commented on #44
Sorry, what to you mean "close by homey". I have tried remove device and
then include again This does'nt help.
Is there some other method?

Kontakt R Mengers (<notifications@github.com>) kirjutas kuupäeval L, 29.
detsember 2018 kell 23:28:

[2018-12-29 22:17] caseda commented on #44
close by, exactly as what it literally means, near by homey, so within 1 meter of homey, the closer the better.

[2019-01-04 07:44] illwillSE commented on #44
Hi!

I have a similar problem. I've got 2 PAN-11 1D switches without power-metering and they are registered as power-meter capable which results in the "invalid_commandClass"-error described above (they do not have power metering).

If I add the device with the philiotech app disabled (and thus as a basic zwave-device) it works fine for on/off.

My node informations is not exacly as taiks1 these a

[2019-01-06 16:51] asteman opened #49 "PAN11-1E IDed as Generic Device"
Hi,
I have a PAN11-1E that is only IDed as a generic device after inclusion. Tried several times far and close to Homey. Same result.
Manufacture ID: 316
Product Type ID: 1
Product ID: 48
Firmware version: 304

Homey 1.5.13

Am I doing it wrong or is there something else wrong?

[2019-01-08 12:26] asteman opened #50 "PSE02-1B siren support"
Hi,
Moving from Vera to Homey I just realized there is no support for the PSE02-1B siren. I'm using it as in indoor siren and door chime. Is it possible to add support for it? Are there any information I can provide to help?
\\ Andreas

[2019-01-08 20:18] grolsch1986 commented on #21
the temper alarm is always on whats the problem off this????

[2019-01-08 20:19] grolsch1986 opened #51 "tamper alarm always on pat02-1b"
the temper alarm is always on whats the problem off this

[2019-01-15 12:25] Schagalaah opened #52 "philio button psr04 dim card does not work in homey v 2.0"
In homey version 2.0 I can't edit dim level of the philio button psr04.

[2019-01-16 21:04] grolsch1986 opened #53 "Homey v2. 0 pat02-1b kan ik niet meer toevoegen"
Ik wil graag de pat02-1b opnieuw toevoegen maar homey geeft aan dat hij al toegevoegd is maar ik zie hem nergens tussen de apparaten staan

[2019-02-02 13:13] SanderVlotman opened #54 "Is the Philio compatible with V2 now?"
Hi I'm using several Philio Slim Multi-Sensor PSM02 4:1 on my Homey and can't find out if it the app is compatibel with V2 now and if this device is working. On the Athom Community Forum someone mentioned tha app does not install.

[2019-02-02 14:53] krotanSE opened #55 "PAT02-1B shows wrong temperature units (F/C)"
When moving over my PAT02-1B from Zipato to Homey I encountered that I am unable to get them to show Celsius.
It shows the actual temperature in Fahrenheit in the app, despite me choosing Celsius in the settings for the unit. It also shows (C) as the unit, but the actual numbers are Fahrenheit.
Is this a know problem with the latest version or am I doing something wrong?
Running version 0.0.30

[2019-02-09 12:59] TechnoX commented on #51
I see the same problem on my PAT02-1B. Using Homey (model called early 2019 and version 2.0.2) with the homey app 2.0.6.250

[2019-02-17 08:13] Frosth76 commented on #44
I have exactly the same issues with PAN11-1D without power meter. I have 15 devices and not so eager to buy new.

[2019-02-17 20:25] mardda commented on #54
Wonder the same, have issues with motiondetection mainly. Activate but no deactivation.
App installs and seems tog work for the main part in my setup. I och have one Philio Slim Multi-Sensor PSM02 4:1.

[2019-02-27 13:30] Ellghe opened #56 "PST02-1B reports faulty Lux value"
The lux value reported by PST02-1B is far less than other light sensors???

[2019-03-06 20:09] Octoman666 opened #57 "PAN16-1"
I have tried to include my Philio PAN16-1 but it does not show up among my devices. I use the mobile app v2, when I start inclusion and put me PAN16-1 in the inclusion mode, it says that it is already added. But it does not appear in the device list?

[2019-03-21 12:32] guardianhell opened #58 "Unable to save advance setting in In Wall Dual relay PAN06-1 in switch B"
Hi, I am Having issue to save setting in Switch B, and the problem is when I switched on the Switch B, in Homey App the switch A look like turned on also, but the light isn't turning on (only in app view) so i tried to change "Selected Relay that can be controlled " --> Relay 2 only, but when i hit save i can't save the changes

[2019-04-30 12:29] Ziggiz opened #59 "Please add Dimmer PAD07"
PAD07 IN-WALL DIMMER SWITCH
https://www.zwavetaiwan.com.tw/pad07

[2019-05-01 18:46] mhschaap commented on #25
Hi!
Thanks for your efforts! However, it does not work for me so far. I cannot add the PAN08 shutter controller, I get it added as "simple Z-wave device", which does not give me the desired functionality. Please see screenshot. Any hints? Could I submit a logfile or other details? Thanks!
![PAN08 - 1](https://user-images.githubusercontent.com/50181427/57035361-195aa600-6c52-11e9-9271-bbe9d8a97bb4.

[2019-05-03 16:36] RogerGorissen commented on #53
Hoi Grolsch1986,

Ik heb hetzelfde met de Pat02-1b: eerste keer installeren lukte niet.
Bij de volgende keer installeren (3 x op kleine knopje aan de achterkant klikken) krijg ik de melding dat het apparaat al is toegevoegd. Maar ik zie het nergens staan!

Hoe heb jij dit opgelost?

Groet, Roger

[2019-05-03 17:06] RogerGorissen commented on #29
Jolny, did you succeed in adding offset for humidity and temperature? If so, how did you do it? Regads, Roger

[2019-05-03 17:11] RogerGorissen opened #60 "Pat02-1B: status already added???"
The first install of my new Pat02-1B didn’t succeed. The next attempt, pressing the tamper key 3 times, results in the error message: status already added. But I can’t find the device, so I can’t remove it. Uninstalling and reinstalling the app doesn’t help, restarting it neither.

How can I solve this? I can’t use the Pat02-1B now.

[2019-05-03 17:43] jolny commented on #29
Nope, sorry. I noted that it would be possible to do, but nothing more :)

Den fre 3 maj 2019 kl 19:06 skrev RogerGorissen <notifications@github.com>:

[2019-05-04 14:49] caseda commented on #25
@mhschaap please share the ID's of the device you included.
you can find the ID's in the "simple" device's device settings, under "node information".
Then i can add them into the app.

[2019-05-04 15:02] caseda commented on #52
it is a physical button that _doesn't have a motor_, so curious how you would change the dim value in homey as it is fully determined by the device

[2019-05-04 15:04] caseda commented on #53
always remove/reset your device first before inclusion, you can find how in the device manual, or use the ...more -> settings -> zwave -> remove device, then activate the inclusion mode on your device

[2019-05-04 15:05] caseda commented on #54
the app has been v2 compatible ever since the last update, just finishing up the SDKv2 re-write but it is not mandatory, it works just fine

[2019-05-04 15:08] caseda commented on #55
it should have changed to Celsius in the device during inclusion, what homey version are you running

[2019-05-04 15:09] caseda commented on #57
please reset your device to factory defaults and try again

[2019-05-04 15:11] caseda commented on #60
please reset you **device** to factory defaults and try again

[2019-05-04 15:13] caseda commented on #58
I can't see why it wouldn't work in the code, what do you mean with, can't save, as in the check mark is not clickable?, if so then one of the settings is out of bounds, please see if you can find any settings that are wrong

[2019-05-04 15:43] RogerGorissen commented on #60
Hello,

Thank you for your answer. I already succeeded by first removing the device from inside the Homey (more - settings -Z-wave - remove a device) and then again adding it from inside the Philio-app.

The device now works correct!!

Regards,

Roger

Verstuurd vanaf mijn iPhone

[2019-05-04 19:44] mhschaap commented on #25
@caseda, Thanks for your reply, that would be great! I bought 4 devices, but have installed just one yet, as it did not work so far.  I use a different language, so I have added a screenshot which should include all ID's. Please let me know if you need more, or if I should run a test or create a logfile (although I have no experience with this).
![PAN08 - 1 (1)](https://user-images.githubuserconte

[2019-05-05 20:44] caseda commented on #59
As i don't have this device, and there are no other devices in this app that are very similar, i unfortunately can't add this device into the SDKv2 rewrite of the app.

And unfortunately i don't have enough time on my hands to let (other) people test a new implementation if i would add it into the app.

Maybe if i have time later on (way later, as in several months later), i could try to look at t

[2019-05-05 20:45] caseda commented on #56
homey only receives values from the device itself, so if the values are wrong, it is fully the device itself, nothing the app can do about that.

[2019-05-05 20:48] caseda commented on #47
As the PAN07 is very similar to other devices already in the app, i've tried to add it into the SDKv2 rewrite of the app, it should work, it might not work fully.

[2019-05-06 08:41] guardianhell commented on #58
Since homey updated their multichannel this issue has been fixed, but i still have one issue regarding Philio PAN-06, when i add PAN-06, there will be shown 3 button (Switch A-B, Switch A, Switch B), when i turn on switch B via Homey apps, in APPS view switch A look like turn on also, but only in APP perpective, the physical lamp still turn off, could you help to fix this one? thank you

[2019-05-06 08:52] caseda commented on #58
Could you see if this is fixed with the new SDKv2 rewrite (v0.1.0)? Should become beta pretty soon, or if you know how to install via CLI you can download the code and install it.

I don't know how these devices work precisely as I don't have them and they are implented by other members of the community

[2019-05-06 09:43] Ellghe commented on #56
Homey report light value in Lux (lx),the same as Fibaro (I have 2) & Aeotec (I have 3). However does not PST02-1B (I have 2) report the light value in Lux like the other brands does.  Conlusion: Please do not present the light value as lx when it is not!

[2019-05-06 09:43] #56 closed

[2019-05-06 10:37] caseda commented on #56
Aaah, I see, then it probably reports the brightness in percentage.(?)
Then it needs a custom capability to make it percentage (which needs a re-pair), or see if I can make a work around to convert it into (approximate) lux.
Device was added by a community member, so I didn't know.

I'll add it to my to-do list

[2019-05-06 16:44] caseda commented on #56
should be showing "correct" lux values in homey with version 0.1.1 of the app, the range of philio devices isn't big though, bare that in mind (maximum of 500 lux based on their specification)

[2019-05-06 17:36] Ellghe commented on #56
Perfect the range is no problems for me. When will 0.1.1 will be released?

[2019-05-06 17:58] #60 closed

[2019-05-06 17:59] RogerGorissen commented on #53
My problem was solved after deleting the device in the settings - Z-wave part.

[2019-05-06 18:06] caseda commented on #56
depends on the original developer of this app, and also Athom when they accept the app into beta.

if you can't wait and know how to install via CLI you can also download the code and install it that way

[2019-05-06 18:22] RogerGorissen opened #62 "PAT02-b not connected, no new data"
I've added the PAT02-B device saturday. Suddenly on sunday evening, about 19.00, no new data received by Homey. Device didn't refresh the data, even after changing the tick interval to 1 minute and the auto report humidity time to 1, so every minute new data has to be send.
Removed the device (struggle, followed correct procedure but device still was available in Homey, even after a few times) and

[2019-05-06 18:57] MackanS commented on #47
How do I get the v2 rewrite version?

[2019-05-06 19:33] caseda commented on #47
you can either download the code, and install it via CLI

or wait until the app is in the beta channel of the app store, don't know how long this will take though.

[2019-05-06 19:58] caseda commented on #62
try putting the device closer to homey, or the other way around, this definitely sounds like a range thing

[2019-05-06 20:54] RogerGorissen commented on #62
Hi,

Tried it even with the device right next to the Homey. No change: offline, unreachable.
Removed and added it again. New data for a few times and then...nothing. No new data.

Is your experience that devices on a battery are reachable and online?

Can it be the case that the numbers of the parameters have been changed in the device and that the change in the parameters don’t affect it all? An

[2019-05-06 21:29] caseda commented on #62
Online is only possible when it is awake, 10 seconds maximum every time it wakes up, so 99% it is "offline" or in better words, asleep.
All my battery devices are reachable though, but my mesh network is pretty big and very stable.

I did not develop the app, philio is a collaboration of (too) many people, I only added 3 drivers (psp05, psr04 and psr07(new)), and did the sdkv2 rewrite just because

[2019-05-06 21:57] RogerGorissen commented on #62
Very strange, the unreachable status.

I’ve ordered a Fibaro power plug. The fan which is controlled by the Philio-device, is now connected by a COCO-device (433,92 MHz) and is located on the other side of the wall of the bathroom. Maybe with a Z-wave power plug the mesh coverage will improve.

At the same time I think something is wronf with either the device or the app (or the Homey?). A wired F

[2019-05-07 04:32] guardianhell commented on #58
Hi, i just tried v.0.1.1, the issues still appear as before switch b on, switch a also turning on in the apps only

[2019-05-07 08:16] mhschaap commented on #25
@caseda thanks again for your reply! Do you require more info, then what I have added last weekend? Could I do a test-run. Please let me know. Many thanks!!!

[2019-05-07 08:21] caseda commented on #25
The id's are included in the app, the PR is awaiting acceptance of the developer, and then can be submitted into the appstore (beta channel).

But feel free to download the code and install the app (v0.1.1) via CLI

[2019-05-07 08:23] mhschaap commented on #25
it seems like Product ID is 21 for my device, and the code says "6". I am not a developer, but if I could simply edit the code on my Homey with Vi over ssh/telnet or such, I could give it a go? Please let me know. I have no experience with direct access to Homey.
![image](https://user-images.githubusercontent.com/50181427/57284706-04e33700-70b2-11e9-941a-fabff966630a.png)

[2019-05-07 08:25] mhschaap commented on #25
Thanks again!! I will not be home today, but I will give it a try (have not done this before)

[2019-05-07 08:29] caseda commented on #58
What happens if you turn switch a on/off? Does b also switch in the gui? Or physically too?

[2019-05-07 11:10] guardianhell commented on #58
if i turn on / off switch A, it doesn't effect to switch B. only switch B affected switch A

Thank you

[2019-05-07 12:07] caseda commented on #58
Hmmm, that's weird behaviour, one final thought, if you check the association group (settings of your device) is homey's id _only_ in group 1 like it is supposed to be? Or also on group 2 and 3.
If also in group 2 and 3, remove homey's id and save the settings and try again

[2019-05-07 13:43] guardianhell commented on #58
ok, default configuration associaton group 1,2,3 value is 1, and i tried to change group 2,3 value into " ", but the result is same

[2019-05-07 14:14] caseda commented on #58
Hmmm, then I'm not sure what it could be that causes this 🤔

[2019-05-07 16:50] mhschaap commented on #25
the "issues" has been resolved, but the updated code still lacks ID "21", while it was in your change-request. But I might not understand the github procedure

[2019-05-07 17:36] caseda commented on #25
you do need to install the beta app (which isn't in the app store yet) or the code via CLI, anything before v0.1.0 will not have the ID

[2019-05-07 18:29] mhschaap commented on #25
Thanks for your efforts, I appreciate. 👍

I would have liked to have it working by now. My apparently supported devices can’t be used. But I have to deal with that

[2019-05-07 19:05] caseda commented on #25
Just wait only a few more days, don't think it will take long for the beta app be in the app store.
I know it can be frustrating.

[2019-05-08 06:46] liteautomation1 commented on #58
Having the exact same issue. Turning on relay b of the modules shows the status of relay a as on, but it is not, just in the app. Turning on relay a does not affect relay b status at all. Happens on pan04 and pan06 dual modules.
Also is there a way to hide or remove the switch to control both relays? This is not needed and it just adds more devices to the device list. I would rather create my own

[2019-05-08 08:07] caseda commented on #58
You can just delete the "both relay" device instance, the rest will keep working just fine.

As I don't have these devices it is pretty much impossible for me to fix this issue.

[2019-05-08 10:02] guardianhell commented on #58
hi liteautomation,

for your issue when turning on switch b, and switch a also affected not just in the app, you can go to advance setting and change setting on "selected Relay that can be controlled" from relay 1 and 2 into relay 1 only

[2019-05-08 10:27] liteautomation1 commented on #58
@guardianhell, thanks but this isn't the issue. That option will allow that device to activate both relays at once. This is not our issue. When we activate relay b(2) on the module via the app, it switches just that relay on the module, and that load turns on, not both loads. But within the app, it show that relay a(1) is now active. But it is not, it is still off. It is some setting within the ap

[2019-05-10 07:40] mhschaap commented on #25
Just wanted to let you know that I have just downloaded via CLI version 0.1.1 and could successfully include my PAN08 device. I have not really used it yet, as I have very little time at this moment. Just wanted to say thanks!!

Few things I noticed:
- in an "if" condition I can choose "dim level has changed", literally "Dim-niveau is veranderd"
- in the Devices section (apparaten) it also shows t

[2019-05-10 19:01] mhschaap commented on #25
![Screenshot 2019-05-10 at 20 54 37](https://user-images.githubusercontent.com/50181427/57550305-4a2f8f00-7366-11e9-8030-b92c2268b83b.png)
I think there is a bug:
- if "state == up", then I can give the "up command"
- it should be if "state != up", then I should be able to give the "up command"

Even when wrong wired, or such (which is not the case), this logic is reversed imho. I looked in the co

[2019-05-10 19:16] caseda commented on #25
It shouldn't be called dim level with that class, that's an athom bug.
Also yes, all those cards are created by athom's core functionality, don't have any control over that.

[2019-05-14 09:21] mhschaap commented on #25
I have a question about the intention of the "state up/down" booleans:

when sunscreen is 50% open (and shown as 50% open in the PAN08 device section):
- boolean up should be false and boolean down should be false as well right?
- we mean the full 0% or the full 100% and nothing in between?

Either way, without changing the position, when I run a test-flow, it gives different results for this quer

[2019-05-14 09:34] caseda commented on #25
You can do that with logic cards, if more then (tag percentage open): 5%
Further I have no clue how the rest is handled, I didn't implement the device, and never worked with roller shutter before with zwave.

 I guess I should have deleted the capability anyway, and only leave the slider.

[2019-05-14 10:19] mhschaap commented on #25
YESSS you are right, I did not recognize that! It is not available directly from the PAN08, but as a regular "logic card", perfect! This also solves the boolean test issues, I guess this is the more reliable approach!

[2019-05-14 10:23] mhschaap commented on #25
can you also explain the -100% <-> + 100% slider? what is considered -100% and what is +100%?
normally I would expect: 0% is up, 100% is down, or vice-versa.
![image](https://user-images.githubusercontent.com/50181427/57690923-1e9cf500-7643-11e9-8f81-446949a8a571.png)

Thanks again!!

[2019-05-14 10:27] caseda commented on #25
It is relative, change from where it is now,
is it at 50% change it -10% makes it 40% as new value
Is it at 20% change it +30% makes the new value 50%

[2019-05-20 18:48] #26 closed

[2019-06-24 18:30] picaro1 commented on #25
I'm new here.
Tried adding PAN08 to Homey. Version 0.0.30.
Got a generic Z-Wave device with only an 'power'-button. Not of any use.
Then de-installed the device.
Used the beta-version of the app and tried to add it again.
Now I've got the error message stating that the device is already added, however it does not appear in my list of devices!

[2019-06-24 18:32] caseda commented on #25
@picaro1 please try resetting your device to factory default, either by following the device manual, or from the developer tools -> z-wave -> remove device

[2019-06-24 18:55] picaro1 commented on #25
Thanks @caseda !
Tried the factory default, that didn't work. However it worked through 'developer tools'.
Do you now how to calibrate the dim value?

[2019-06-24 18:56] caseda commented on #25
i do not have the device, so no

[2019-06-24 19:56] mhschaap commented on #25
Calibration is only needed by the device itself, not through Homey. It is described in the manual that comes with the product (press the button in certain way)

[2019-08-13 13:33] stefansandor commented on #49
I just tried with three different PAN11-1E and they are included as smart plugs, but are unable to report energy and other information to Homey. They are not smart and can only be used for on-off as a generic device (even though they are identified correctly). The info about voltage, etc is only presented as "-" (i.e. no reading).

[2019-10-19 22:10] ThomasHoussin commented on #36
I have the same problem (tamper alarm that don't go away) - using latest beta in the application. Is there a way to fix this ?

[2019-10-29 18:33] claesg commented on #44
I had the same problem with my PAN11-1D. I switched to the beta version 0.1.1 of the Philio app and tried the 'Plug-In Switch PAN11-1D'. It now works as intended. I am very happy!

[2019-11-07 13:33] esebrani opened #65 "device allready added.... eeeehhhh not visible at least"
I have three philio  temp/hum sensors. everything has been working fine....
Now one sensor didn't report for a month, battery is ok so I decided to delete it and add it again.
Deletion was uneventful but when I was adding it again homey said "device already added"
Then I tried to delete the app and reinstalled it, reboot homey. Now are all three sensors unvisible but can't be added again....

I gu

[2019-11-20 19:08] mhschaap commented on #65
Had this also with my PAN08. I do not recall exactly, but I did use the full reset on the device, as per user manual of the PAN device

[2020-02-07 20:04] thestormhunter commented on #25
Hi everyone,

Does anyone know when the PAN-08 is included to Homey? Mine also is added as "simple Z-wave device". Or can someone please help to get it fixed?

Thanks for your support!

[2020-02-07 20:12] mhschaap commented on #25
Use the Beta version, there it’s included

[2020-02-08 12:29] caseda commented on #25
with the new app store there isn't really a beta version anymore, but a [test version](https://homey.app/nl-nl/app/com.philio/Philio/test/) <= click for the link

[2020-02-08 19:52] thestormhunter commented on #25
Thanks for the fast response. That one i had allready installed, i can select the PAN08 but it doesn't reconise the PAN08 that i have.

[2020-02-08 20:24] mhschaap commented on #25
![0CAC0C7B-628B-4488-B02A-B26E8D7EF826](https://user-images.githubusercontent.com/50181427/74091595-83458d00-4ab9-11ea-914d-6da38f1fb7f1.jpeg)

Please check if you really have v0.1.1 installed, this solved it for me

[2020-02-10 13:50] thestormhunter commented on #25
I have removed the app and installed it again. Now it works perfectly. Thanks for your help! Kind regards

[2020-05-30 23:35] nicleo commented on #44
I have exactly the same issues with PAN11-1E.
Diagnostic report: 2933ac3f-0a40-40bd-a5bf-4bde196cfc59

[2020-06-03 16:26] klim123123 opened #66 "Please add PAN03 In wall single relay (1 way) switch module"
Please add PAN03 In wall single relay (1 way) switch module
with energy metter

https://rus.z-wave.me/drive/?file=e9fcc888e7f893a52584109a8612dd2adf45

[2020-06-06 11:12] #25 closed

[2020-06-06 11:32] #49 closed

[2020-06-06 11:35] JohanBendz commented on #44
Hi @nicleo, does it work if you switch to the test version and add it again?

[2020-06-06 11:36] JohanBendz commented on #43
Fixed in test version / v.0.1.1

[2020-06-06 11:36] #43 closed

[2020-06-06 11:38] JohanBendz commented on #54
Fixed in v.0.1.1

[2020-06-06 11:38] #54 closed

[2020-06-06 11:39] JohanBendz commented on #46
Fixed in test version / v0.1.1

[2020-06-06 11:39] #46 closed

[2020-06-06 11:41] JohanBendz commented on #33
Fixed

[2020-06-06 11:41] #33 closed

[2020-06-06 11:42] JohanBendz commented on #28
One app a brand is the way to go. Closing this.

[2020-06-06 11:42] #28 closed

[2020-06-06 11:47] JohanBendz commented on #47
Added to test / v.0.1.1

[2020-06-06 11:47] #47 closed

[2020-06-06 11:58] JohanBendz commented on #36
Hi @ThomasHoussin, can you please create a crash report from the app so that I can see what's wrong?

[2020-06-06 12:00] JohanBendz commented on #45
If this is still an issue, please create a new issue.

[2020-06-06 12:00] #45 closed

[2020-06-06 12:02] JohanBendz commented on #55
Hi @krotanSE, is this still an issue?

[2020-06-06 12:06] #53 closed

[2020-06-06 12:12] #52 closed

[2020-06-06 12:13] #57 closed

[2020-06-06 12:17] JohanBendz commented on #50
Hi @asteman, please provide device information for me to be able to add it.
Device model/name:
Manufacture ID:
Product Type ID:
Product ID:

[2020-06-06 12:20] JohanBendz commented on #59
Hi @Ziggiz, are you able to add the device as a generic Z-wave device? If so, please provide the following information.

Device model/name:
Manufacture ID:
Product Type ID:
Product ID:

[2020-06-06 12:22] #62 closed

[2020-06-06 12:26] JohanBendz commented on #65
Hi @esebrani, what one needs to do in events like this is to enter the settings menu in the Homey app, click on Z-wave, and then choose to Remove a Zwave device (NOT reset network!!).

This can be done for ANY unit that you want out of Homey, that is stuck in Homey, that will not pair with Homey, that is brand new, that has been in any other controller.. etc.. remember that you need to push the pa

[2020-06-06 12:26] #65 closed, assigned to nobody

[2020-06-06 12:27] JohanBendz commented on #66
Hi @klim123123, please add the device as a generic Z-wave device and get back with this information:

Device model/name:
Manufacture ID:
Product Type ID:
Product ID:

[2020-06-06 12:45] nicleo commented on #44
Sorry, I don't know what you mean with "switch to the test version".
I have v. 0.0.30 and "update automatically" enabled.
Keep in mind I have plenty of working Philio devices setup so I can't uninstall the app without destroying half of my home automation processes.

[2020-06-06 13:19] JohanBendz commented on #44
Hi again @nicleo.
The Test version is an early version of the upcoming release, it should not break anything you have working. Given the feedback from others I would say that the Test version works just fine (has not broken anything that used to work) for everyone that changed to it.

If the Test version does not work out you can revert to the Live version without having to repair anything. **BUT*

[2020-06-06 13:42] klim123123 commented on #66
Device model/name: In Wall Signle relay PAN03-1 (Switch-A)
Manufacture ID: 316
Product Type ID: 1
Product ID: 15

[2020-06-06 13:43] krotanSE commented on #55
Still an issue. Only way I’ve found to solve it is to run an exclusion and then inclusion again. Works 9/10 times.
So I got all devices working and showing Celsius, but the root issue is still there.

[2020-06-06 15:01] nicleo commented on #44
@JohanBendz
Upgrade to test version 0.1.1 worked well. Everything still seem to work.
PAN11-1E still gives same error so I removed it and added again as PAN11-1. No change.

I removed it again and this time added as PAN11-1D and now I can control it without any error.
However, PAN11-1E has no power meetering so PAN11-1E needs its own device just like PAN11-1D (but without power meetering interface

[2020-06-06 18:23] JohanBendz commented on #44
@nicleo
Great to hear that upgrade went well. 👍

Please provide the ProductId for the device.

Can you please also create a crash report from the app, it would help me create a driver that fits the device.

[2020-06-06 18:35] nicleo commented on #44
@JohanBendz
Done!

e30f34ef-b67d-4c61-a0e9-1be9cc087352

[2020-06-06 19:36] JohanBendz commented on #55
OK, thanks @krotanSE. I can't see any bugs in the code for this and you are the only one with the issue so I will close the case. If you find this bug to be troublesome in the future please get back to me.

[2020-06-06 19:36] #55 closed

[2020-06-06 21:36] asteman commented on #50
Hi,

Device model/name: PH-PSE02-1B.EU
Manufacture ID: 316
Product Type ID: 4
Product ID: 10

[2020-06-07 00:47] JohanBendz commented on #66
Added to Test version 0.1.3, please try and give feedback

[2020-06-07 00:47] JohanBendz commented on #59
Added to Test version 0.1.3, please try and give feedback

[2020-06-07 00:47] JohanBendz commented on #50
Added to Test version 0.1.3, please try and give feedback

[2020-06-07 00:47] JohanBendz commented on #44
@nicleo Added to Test version 0.1.3, please try and give feedback

[2020-06-07 01:26] klim123123 commented on #66
It's works on/off and power metter. Thank you!

[2020-06-07 01:26] #66 closed, assigned to nobody

[2020-06-07 08:40] JohanBendz commented on #66
Thanks for the positive feedback @klim123123 ! Happy to help :)

[2020-06-07 11:33] nicleo commented on #44
@JohanBendz
Added PAN11-1E but it shows up as "PAN11-1" and still has a power interface.
![image](https://user-images.githubusercontent.com/29352936/83967594-63857080-a8c3-11ea-9d30-513aa4d1e4bd.png)
![image](https://user-images.githubusercontent.com/29352936/83967603-78620400-a8c3-11ea-800a-f9264992418d.png)

[2020-06-10 12:35] JohanBendz opened #67 "Add Smoke Sensor PSG01"

[2020-06-18 11:24] FalcoRutten commented on #67
Info can be found here: http://manuals-backend.z-wave.info/make.php?lang=EN&sku=ph-psg01.eu&cert=ZC10-17055607

[2020-06-23 07:30] ThomasHoussin commented on #36
Done, hope it helps. How can I send you the code ?

[2020-07-10 11:11] AmitPick opened #68 "PAN08 support"
I have installed test version 0.1.3 for PAN08 support and here is some feedback:
The Dim Level is not working properly. Two bugs are noted:
1. Any dim level I select completely shuts down the roller
2. The dim level in the app always shows the roller is completely open. Even when I change the dim level and the roller shuts completely.

Perhaps what is also missing is the initial calibration simila

[2020-07-27 19:00] JohanBendz commented on #68
Hi @AmitPick and thanks for the feedback.
I don't have the device myself so this information is vital to get for me!
I'd be extra happy if you could reproduce the problem and then send a crash report from the app. :)

[2020-07-28 10:42] JohanBendz commented on #51
Hi @grolsch1986 and @TechnoX
Can any of you guys please restart the app, make sure you notice the issue described above and send me a crash report from the app?

[2020-07-28 10:57] JohanBendz commented on #44
OK, the issue with PAN11-1E was that the PAN11-1 still hold code that messed with PAN11-1E.
Now fixed, will work from next release.

If anything else still is not working please open a new issue.

[2020-07-28 10:57] #44 closed

[2020-07-28 10:58] #59 closed

[2020-07-28 10:59] #50 closed

[2020-07-31 12:53] TechnoX commented on #51
Hi Johan!

Finally updates here! Thanks!

How do I generate such report? The app has never crasched. Under settings and general I can create a diagnostics report. I got this ID:  919532A0D2

The problem persist though. See image below:

![Screenshot_20200731-145153](https://user-images.githubusercontent.com/1463156/89036694-6e95d380-d33d-11ea-9ccc-06402b20fbda.jpg)

[2020-08-16 09:45] per-lind opened #69 "Flow trigger with Homey 5 broken?"
Looks like I can no longer trigger flows on changes for PSR04. Same result with both dim changes and on/off. The value of the dimmer is however updated in the app so it looks like it is just affecting triggering of flows.
`
nodeVersion | "v12.16.1"
homeyVersion | "5.0.0-rc.23"
app version | 0.1.4
`

[2020-08-16 19:35] oilonboy commented on #69
I got the same issue with the same device. I can no longer dimmer my lights with the “Dim-level” tag since it’s not present as a choice anymore.
Any solution to this?

[2020-08-17 19:16] per-lind commented on #69
I tried switching to https://homey.app/sv-se/app/com.philio/Philio/test/ and here it is working again.

[2020-08-17 23:15] JohanBendz commented on #69
Hi @per-lind and @oilonboy.
I'm sorry.. I thought I had published the new test version as live.. there was an error in the device trigger card in v.1.0.4 that I have fixed in v.1.0.6. Just sent a cert request to Athom to be able to update the test version to live.

[2020-08-30 19:05] oilonboy commented on #69
Hi again,
I still haven’t got the possibility to change the tag on the trigger card. It’s by default “level” and can’t be changed to the devices “Dim-level” as I had before the update.

Please make it possible again.

[2020-09-19 08:45] margin1234 opened #70 "Philio temp/humidity sensor"
Hi I’ve got the temp/humidity sensor. The temp registers but not the humidity
Can you help pls

Thx
K

[2020-10-04 13:02] iFac3 opened #71 "PAT02-1B Reporting"
Hi JohanNendz,

Thanks for this app! Great work!

I have an issue with PAT02-1B and Homey. Temperature and Humidity date update times are too long. 6 hours, therefore it’s not good for controlling heating and cooling systems. I’ve already tried to lowering tick time, reporting tick numbers, reporting minimum tresholds... even auto wake up was enabled and set to 1800... no success at all, seems tha

[2020-10-17 15:30] iFac3 commented on #71
Sorry, my fault. Finally sensors got updates!

[2020-10-17 15:30] #71 closed, assigned to nobody

[2020-11-05 05:28] liteautomation1 opened #72 "PST-02 no motion, contact or tamper anymore"
Hi,

I have several PST-02 installed and they work fine. But i have tried to add several more and now they do not include properly.
Only readings are Luminance and temperature, The motion, contact and tamper readings are just blank
I am using the AU australian versions PH.PST02-4A.AU but they worked fined before, any ideas? Really need the motion and contact working on them
Thanks
Adrian

[2020-11-20 23:54] JohanBendz commented on #72
Hi @liteautomation1, can you please try this version: https://homey.app/a/com.philio/test/

[2020-11-21 00:06] JohanBendz commented on #69
Hi @oilonboy, sorry for my late answer. For some reason I had not noticed your comment here.

Are the other flow cards for the same device working for you as expected? Is it just that function that is not valid? Can you post a photo/screenshot of what you see? (I don't have the device myself so I can't test).

[2020-11-21 00:07] JohanBendz commented on #70
Hi @margin1234 , is this still an issue?

[2020-11-21 00:11] JohanBendz commented on #51
Hi @TechnoX, can you please try the test version here and see if your issue persists: https://homey.app/a/com.philio/test/

[2020-11-21 00:14] JohanBendz commented on #36
Hi @ThomasHoussin, can you please try this version and see if the issue is resolved? https://homey.app/a/com.philio/test/

[2020-11-21 01:29] margin1234 commented on #70
Hi, I haven’t used it since I last emailed
Has it been fixed and should I try again?

Sent from my iPhone

[2020-11-21 07:26] supermusen opened #73 "Pst 02b"
Motion alarm never goes off. I tried v0.1.7
When inklusion it says its a psm 02 4:1

It is a pst02-B 3:1

[2020-11-23 21:38] JohanBendz commented on #73
Hi @ericedberg, what data does your device have? (info in settings on device)
		manufacturerId:
		productTypeId:
		productId:

[2020-11-23 21:46] JohanBendz commented on #72
Hi again @liteautomation1, can you please post your device's data.
		manufacturerId:
		productTypeId:
		productId:

[2020-11-23 21:48] JohanBendz commented on #70
Hi again @margin1234, I'v done a few updates so it could work. Can you please post your device data so I can check:
		manufacturerId:
		productTypeId:
		productId:

[2020-11-28 13:55] margin1234 commented on #70
Seems to be working now.
Thanks for your help
K

[image: IMG_0145.PNG]
[image: IMG_0146.PNG]
Kevin Chu

On Tue, 24 Nov 2020 at 08:48, Johan Bendz <notifications@github.com> wrote:

[2020-11-30 09:49] JohanBendz opened #74 "Add PHI_PSK01"

[2020-12-09 20:54] TommyGL opened #75 "Connecting PST02-1 A"
Hey!
I have a problem connecting PST02-1 A multisensor 4/1. it's coming up.
"The device can no longer be reached. Try adding the device again by holding it closer to Homey."
Any tips on how I can solve this problem?

[2020-12-09 20:56] TommyGL commented on #75
Addition. yes I have already tried to keep it closer to Homey. //Tommy.

[2020-12-09 23:16] JohanBendz commented on #75
Hi there.
1. Try changing battery if you have not already.

2. Try pair it again, without removing it first. You should get a message telling you it's already paired. (if not you have to remove it and see if there is a "ghost" you also should remove first). Then restart the app. (or Homey).

Get back to me if this does not help.

[2020-12-10 06:59] TommyGL commented on #75
Thanks for quick reply! I have tested the following repeatedly and also in different sequences.
I have two units and both behave the same.

I have tried to change the battery.
I have also restarted both the app and Homey.
I have zeroed both devices.

What happens is that first Homey seems to detect the devices and then it thinks for a while and then it says "Wait while your device is added ..." th

[2020-12-10 07:06] TommyGL commented on #75
I sent a diagonist report via Homey if it's helpful.
Code
bf719bff-f7e6-46be-b559-9104dc5eb7e0

[2020-12-10 07:10] JohanBendz commented on #75
@TommyGL
Sorry.. did not help much..

Stack trace
Note: this log has been manually submitted by a user.
Log ID: bf719bff-f7e6-46be-b559-9104dc5eb7e0

User Message:
TommyGL

Problem connecting PST02-1 A

---- stdout ----
2020-12-10 07:43:00 [log] [PhilioApp] com.philio running...

---- stderr ----

This empty log tells me the issue is not with the app but a Homey or device issue.

[2020-12-10 09:57] TommyGL commented on #75
I managed to connect the devices but they only report temp and light. I do not get the other values ​​in them.
When I connected the device, I pressed the switch every 5 seconds until it was connected. Then Homey managed to find the device.

[2021-01-06 21:02] Peterv123 opened #76 "Add PSM02 4.1 problem"
On the Homey I want to re-use my PSM02 sensors. And I want to turn the Pir detection off.
Finally I get two off them working well.
But one is always not detecting the magnetic contact en always gives the motion detection alarm.
The temperature is readed just after the pairing proces and then it does not read anymore.

When I look in the history I see :
movement alarm: on 27 minutes ago
Contact ala

[2021-01-06 21:32] JohanBendz commented on #76
Hi @Peterv123

1.
It should be, if you are able to pair it again please send me a crash report (use it a bit before sending so I can see events in the log).

2.
Bit 0 is the one to the right and bit 7 is the one to the left (8 bits).
Change 0 to 1 to "set" the bit.

For the PSM02 this means Operation Mode is handled this way:
Bit0: 1 means security mode, 0 means home automation mode.
Bit1: 1 means

[2021-01-07 11:01] Peterv123 commented on #76
a929885e-6220-4d0c-8ff9-e93c2fb7e9ccOp 6 jan. 2021 22:32 schreef Johan Bendz <notifications@github.com>:
Hi @Peterv123

It should be, if you are able to pair it again please send me a crash report (use it a bit before sending so I can see events in the log).

Bit 0 is the one to the right and bit 7 is the one to the left (8 bits).
Change 0 to 1 to "set" the bit.
For the PSM02 this means Operation

[2021-01-22 20:15] Peterv123 commented on #76
did you receive the crash report? And have you found time to look at it yet?

[2021-02-01 13:01] Peterv123 commented on #76
I have reset the sensors to factory default and now they will almost work in Homey.
The last thing to solve is the PIR part. In de Homey app the PIR alarm is always on.
I set the PIR sensitivity to 0 but the it still stay on.
Do you have a suggestion to solve this?

[2021-02-10 12:04] JohanBendz commented on #76
Hi @Peterv123, Sorry, been busy with other apps. Will have a look at this.

[2021-02-20 13:22] wico1975 opened #77 "Philio Tech Keypad Z-wave"
Best Johan,

even een vraag is het mogelijk dat er software voor de Philio Tech Keypad Z-wave Plus keypad geschreven dan worden voor de koppeling met Homey.

hopelijk is het mogelijk

gr Wilco

[2021-02-25 16:07] #70 closed, assigned to nobody

[2021-02-25 16:11] JohanBendz commented on #77
Hi @wico1975. That's a nice device :)
I will have a look at it.

[2021-04-06 05:59] jf84398942813 opened #78 "Add PH-PAB01"
Hi Johan,
First I would like to thank you for your job.
I contact you because I want to replace my current Jeedom appliance by Homey and I use the Philio PH-PAB01 module to analyse my home power consumtion.
I see in your list this module is not yet supported.
Do you think this will be supported soon ?

Thanks in advance.
Best regards.

[2021-04-16 20:13] JohanBendz commented on #78
Hi @jf84398942813, thanks for your request, I'll have a look at it. Can you please add it as a generic Z-wave device and add the devices generic info to the request? (The Z-Wave Device Information in the device settings).

[2021-04-19 06:04] jf84398942813 commented on #78
Hi @JohanBendz ,
Below details :
....
Name : PH-PAB01.eu Micromodule Energy Meter
Fabricant : Philio Technology Corporation
....
Sûr : ⨯
Batterie : ⨯
ID de l'appareil : 189
ID du fabricant : 316
Product Type ID : 6
ID du produit : 26
Version du micrologiciel : 1
Sous-version du micrologiciel : 2
ID du micrologiciel : 1562
Version du matériel : 1
Classe d'appareil (Basique) : BASIC_TYPE_ROUTING_SLA

[2021-04-26 19:35] HakanDicander opened #79 "Philio App for Siren PH-PSE02-1B can't play DoorChime"
When creating a Flow to play the DoorChime sound on the Philio Siren an error flowcard_not_registered appears in Homey. The App should send a NOTIFICATION_REPORT command to the siren. Please see the attached PDF for details.
[PhiloSirenProblem.pdf](https://github.com/JohanBendz/com.philio/files/6379766/PhiloSirenProblem.pdf)

[2021-09-09 14:13] DjKolk opened #80 "Philio PSM-02 everything works accept door/window sensor"
Hello fellow Homey fans,

After switching from Vera to Homey, my 3 Philio 4-1 sensors are not working completely error free anymore.
They work fine for the "Pir, Temperature and Light sensors" but not for the door/window sensor.
2 of them do not detect any acction 1 detects continuous action (no matter if the magnets are close or far away from the sensors)
I've tried different settings hardware di

[2021-09-11 10:18] provanguard commented on #74
I also would like to request PSK01 support in the app.

[2021-09-13 07:14] DjKolk commented on #80
I've been fiddeling with the settings over the weekend and got it finally working.
Hope  I can help somebody else by publishing my settings :
operation mode : 8
multi sensor switch : 68

Gr. Dj Kolk

[2021-09-15 18:22] Francois1974 opened #81 "Philio tech Pan04"
I have a question about the above module.

the app is available via Homey, if I click on the PAN04 with the installation and want to pair it, I get error messages that it cannot connect..
if I select the PAN06 in the menu, I can pair it and homey adds the module. and does homey say Pan04??

I see 3 switches switch A, switch B, and switch A&B The settings of 1 of these switches can be adjusted (swi

[2021-11-20 14:35] SortOfSmart commented on #76
Same here for the PST02. Unpaired and re-paired it four or five times, even restarted Homey for good measure. Nope. Every time it pairs, the very first motion alarm stays on and never goes off. The contact sensor works fine, and the others too, but I'm interested in the combined motion/contact sensor. If I can't get it to work right, I'll have to return it.

[2021-11-20 14:41] SortOfSmart opened #82 "PST02 4:1 motion detection always on"
I saw someone mention the same problem with the PSM 4:1, but thought it might be better to report a separate issue.

Like the title says: the motion alarm is always reporting the very first alarm it detected. Unpaired and re-paired it four or five times, even restarted Homey for good measure. Nope. Every time it pairs, the very first motion alarm stays on and never goes off. The contact sensor wor

[2021-12-02 19:06] CederholmA opened #83 "App support for Homey Beta"
Would like support for Homey Beta through the Homey Bridge.

[2021-12-10 19:17] corkorten opened #84 "Device gone"
Sinds grote update werken de schakelaars van Philio niet meer ook kan ik zie ze ook niet meer in de app ?????

[2021-12-19 09:38] Yamahaa commented on #77
What is the progress for the Philio Tech Smart Keypad PSK01 Z-Wave ?

[2022-01-22 15:15] Johnbrokling opened #85 "Philip Tech keypad psk01"
Please add this device in de homey app! Thx

[2022-02-13 16:04] hiato6 commented on #67
Hi, just checking if there're any plans to do this integration.

[2022-02-14 08:35] macdelft commented on #83
+1, i would love to see this support as well!
@JohanBendz can you confirm if this is worked on?

[2022-05-17 18:53] henkbart opened #86 "Is the PHT_PSE04-EU supported in your app"
Hello,

Just a question if the PHT_PSE04-EU outdoor sirene is supported in your app??
I am willing to buy this, but i need to know if i can use it with my Homey.

Thank you.

Henk Bartels

[2022-08-12 12:11] Plenty2run commented on #86
Hi Johan, I bought this sirene (PHT_PSE04-EU outdoor), could you please add it to your app? Thanks in advance!

Ronald Plenter

[2022-09-11 16:04] saintnick commented on #82
I second this. Is it actually the sensor that keeps the motion alarm active? Or is it that Homey should allow acknowledging/clearing the alarm?

[2022-09-11 16:10] saintnick commented on #76
I second this here too. There's already another issue #82  by someone on this. Would be great if we could acknowledge/clear the motion alarm.

[2022-10-05 08:18] AmitPick commented on #68
Hi @JohanBendz

Sorry it took so long to reply back.
I am currently using v0.1.6.
I have reproduced the problem, but how do I send a crash report? The app has not crashed.

[2022-10-14 06:51] SerrII opened #87 "Will the app be updated for the new Homey?"
Hi @JohanBendz can you adapt the app to the new Homey if it is available?

[2022-10-14 06:51] Dici71 opened #88 "Update to SDKv3"
Hi,

are you planning to update to SDKv3 so that your app is supported by the new HomeyPro 2023 ?

[2022-10-14 09:33] JohanBendz commented on #87
https://github.com/JohanBendz/com.philio/issues/88

[2022-10-14 09:33] #87 closed, assigned to nobody

[2022-10-14 09:35] JohanBendz commented on #88
Hi.
Yes, I will update the app to SDKv3 and make sure it works with the new Homey Pro.
I will also try to get it certified for the cloud controller / Bridge.

// Johan

[2022-10-14 09:35] #88 closed, assigned to nobody

[2022-10-14 09:35] JohanBendz commented on #83
https://github.com/JohanBendz/com.philio/issues/88

[2022-10-14 09:35] #83 closed, assigned to nobody

[2022-11-02 19:26] Karpazu opened #89 "Update for Homey Pro 2023 coming?"
Hi,

Can you please update your app to be compatible with Homey Pro 2023.

Thanks, Karpazu

[2022-11-02 23:07] JohanBendz commented on #89
Hi @Karpazu.
Yes, I will update all apps  I manage to SDK3. This will make them support Homey Pro 2023.
I can't promise this app will ever support the bridge though as Athom have to approve pushing an app to the cloud.

[2022-11-03 03:29] Karpazu commented on #89
Hi!

Good to hear 👍

Thanks